.main-section{
  position: absolute;
  top: 15%;
  left: 10%;
  width: 90%;
}

.header{
  position: absolute;
  top: 6%;
  height: 10%;
  width: 100%;
  background: black;
  color: beige;
}

.header-text{
  position: relative;
  margin-left: 10%;
}

.header-score{
  position: relative;
  margin-right: 10%;
  float: right;
}